<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3308/digitalnotice</param-value>
    </context-param>
    <context-param>
        <param-name>uid</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>pwd</param-name>
        <param-value> </param-value>
    </context-param>
    <context-param>
        <param-name></param-name>
        <param-value></param-value>
    </context-param>
    <servlet>
        <servlet-name>verifyUser</servlet-name>
        <servlet-class>projectPkg.verifyUser</servlet-class>
        <init-param>
            <param-name>adminId</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>adminPwd</param-name>
            <param-value>12345</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>saveHODAcc</servlet-name>
        <servlet-class>projectPkg.saveHODAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveStudAcc</servlet-name>
        <servlet-class>projectPkg.saveStudAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewStudReg</servlet-name>
        <servlet-class>projectPkg.viewStudReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enableStud</servlet-name>
        <servlet-class>projectPkg.enableStud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNotice</servlet-name>
        <servlet-class>projectPkg.SaveNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showDept</servlet-name>
        <servlet-class>projectPkg.showDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showNotice</servlet-name>
        <servlet-class>projectPkg.showNotice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verifyUser</servlet-name>
        <url-pattern>/verifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveHODAcc</servlet-name>
        <url-pattern>/saveHODAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveStudAcc</servlet-name>
        <url-pattern>/saveStudAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewStudReg</servlet-name>
        <url-pattern>/viewStudReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enableStud</servlet-name>
        <url-pattern>/enableStud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNotice</servlet-name>
        <url-pattern>/SaveNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showDept</servlet-name>
        <url-pattern>/showDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showNotice</servlet-name>
        <url-pattern>/showNotice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
